<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Signup Example </title>
    </head>
    <body>
        <h1 th:inline="text">Signup page</h1>
        <form th:action="@{/usersignup}" method="post">
            <div><label> User Name : <input type="text" name="loginId"/> </label></div>
            <div><label> Password: <input type="password" name="loginPass"/> </label></div>
            <div><label> FUll Name : <input type="text" name="fullName"/> </label></div>
            <div><label> Email : <input type="text" name="email"/> </label></div>
            <div><input type="submit" value="Sign Up"/></div>
        </form>
    </body>
</html>